h1 {
    font-family: Arial, sans-serif;
    font-weight: lighter;
    font-size: 42px;
    color: black;
}
  
h2 {
    font-family: Arial, sans-serif;
    font-weight: lighter;
    font-size: 24px;
    color: black;
}
  
h3 {
    font-family: Arial, sans-serif;
    font-weight: lighter;
    font-size: 36px;
    color: black;
}

img {
    width: auto;
    height: 100px;
}